.dataResult {
  position: absolute;
  align-items: left;
  margin-top: 3px;
  width: 25%;
  height: 150px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
}

.left-align {
  float: left;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  color: black;
}

input:focus {
  outline: none;
}

.text-align-right {
  text-align: center;
}

.search-result-margins {
  margin: 5px 5px 10px 5px;
  height: 49px;
}

.bg-pastel-blue {
  background-color: #7f669d;
}

.btn {
  border-radius: 10px;
}

a {
  text-decoration: none;
  border-radius: 10px;
}

.dataItem:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0px !important;
  width: 100% !important;
}

.btn-outline-light {
  top: 9px;
}

#search {
  width: 70%;
}
.search {
  width: 35%;
}
